<ion-header>
  <ion-toolbar color="medium">
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium" class="ion-padding" >
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)" >
    <ion-item>
      <ion-input
        label="Email"
        labelPlacement="floating"
        placeholder="name@example.com"
        formControlName="email"
      ></ion-input>
    </ion-item>

    <div class="validation-erros">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div
          *ngIf="(
          loginForm.get('email')?.hasError(validation.type) &&
          loginForm.get('email')?.dirty
          )"
        >
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-input
        label="Password"
        labelPlacement="floating"
        placeholder="*********"
        type="password"
        formControlName="password"
      ></ion-input>
    </ion-item>
    <div class="validation-erros">
      <ng-container *ngFor="let validation of validationMessages.password">
        <div
          *ngIf="(
          loginForm.get('password')?.hasError(validation.type) &&
          loginForm.get('password')?.dirty
          )"
        >
          {{validation.message}}
        </div>
      </ng-container>
    </div>
<!-- 1. Mejorar el estilo para mostrar los mensajes de error
2. Darle estilo a nuestra pagina de login -->

    <div style="width: 100%; display: flex; justify-content: center">
      <ion-button
        [disabled]="!loginForm.valid"
        color="primary"
        type="submit"
        shape="round"
        class="flex ion-margin-top ion-align-items-center ion-justify-content-center"
        >Ingresar</ion-button
      >
    </div>
  </form>
</ion-content>
