<ion-header>
  <ion-toolbar color="medium">
    <ion-title class="ion-text-center" >Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <form [formGroup]="loginForm">
    <ion-item>
      <ion-input
        label="Email"
        labelPlacement="floating"
        placeholder="name@example.com"
        formControlName="email"
      ></ion-input>
    </ion-item>
      <!-- 1.Utilizar 3 clases de las utilidades de css en cualquier parte de mi código html
  2.Agregar 2 validators mas en email o password uno en cada uno.
  3.Agregar los mensajes en la vista para los errores de password
  4.Hacer que el campo de password sea tipo password y no se vea la contraseña cuando la dígito -->
    <div class="validation-erros">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div
          *ngIf="(
          loginForm.get('email')?.hasError(validation.type) &&
          loginForm.get('email')?.dirty
          )"
        >
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-input
        label="Password"
        labelPlacement="floating"
        placeholder="*********"
        type="password"
        formControlName="password"
      ></ion-input>
    </ion-item>
    <div class="validation-erros">
      <ng-container *ngFor="let validation of validationMessages.password">
        <div
          *ngIf="(
          loginForm.get('password')?.hasError(validation.type) &&
          loginForm.get('password')?.dirty
          )"
        >
          {{validation.message}}
        </div>
      </ng-container>
    </div>
  </form>
</ion-content>
