ion-content {
  --ion-background-color: rgb(46, 47, 51);
  --ion-color-step-550: #3d3d3d; // Esta variable se utiliza para las sombras de ion-item

  ion-item {
    --padding-start: 20px;
    --border-color: #3d3d3d;
    --background: rgb(255, 255, 255);
    --placeholder-color: #3d3d3d;
    --border-radius: 40px;
  }

  ion-label {
    color: black;
  }

  ion-input {
    color: black;
  }

  ion-button {
    --background: #1db954; // Verdes de Spotify
    --color: #fff;
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 25px;
    --padding-bottom: 25px;
  }
  ion-button:hover {
    --background: #1ed760;
    transition: 0.5s ease;
  }

  .login-logo {
    display: flex;
    justify-content: center;
    padding: 50px 0;

    img {
      max-width: 50%;
    }
  }
}
