<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <swiper-container
    [slidesPerView]="1"
    [spaceBetween]="50"
    [loop]="true"
    [autoplay]="true"
    [pagination]="{ clickable: true }"
    [speed]="400"

  >
    <swiper-slide class="card-container">
      <h1 class="titulo">Titulo Principal</h1>
      <p>Texto de prueba para la visualizacion de la informacion</p>
      <ion-icon name="logo-snapchat"></ion-icon>
    </swiper-slide>
    <swiper-slide class="card-container">
      <h1 class="titulo">Titulo Secundario de la segunda pagina</h1>
      <p>Texto de prueba para la visualizacion de la informacion</p>
      <ion-icon name="logo-facebook"></ion-icon>
    </swiper-slide>
    <swiper-slide class="card-container">
      <h1 class="titulo">Titulo Secundario del 3er slide</h1>
      <p>Texto de prueba para la visualizacion de la informacion</p>
      <ion-icon name="logo-facebook"></ion-icon>
    </swiper-slide>
    <swiper-slide class="card-container">
      <h1 class="titulo">Titulo Secundario del 4to slide</h1>
      <p>Texto de prueba para la visualizacion de la informacion</p>
      <ion-icon name="logo-facebook"></ion-icon>
    </swiper-slide>
    <swiper-slide class="card-container">
      <h1 class="titulo">Titulo Secundario del 5to slide</h1>
      <p>Texto de prueba para la visualizacion de la informacion</p>
      <ion-icon name="logo-facebook"></ion-icon>
    </swiper-slide>
    <swiper-slide class="card-container"> Hola Slide 3 </swiper-slide>
  </swiper-container>
</ion-content>
