<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <swiper-container
    [slidesPerView]="1"
    [spaceBetween]="50"
    [loop]="true"
    [autoplay]="true"
    [pagination]="{ clickable: true }"
    [speed]="400"

  >
    <swiper-slide class="card-container">
      <h1>Titulo Principal</h1>
      <p style="color: red;">Texto de prueba para la visualizacion de la informacion</p>
      <ion-icon name="logo-snapchat"></ion-icon>
    </swiper-slide>
    <swiper-slide class="card-container">
      <h2>Titulo Secundario</h2>
      <p>Texto de prueba para la visualizacion de la informacion</p>
      <ion-icon name="logo-facebook"></ion-icon>
    </swiper-slide>
    <swiper-slide class="card-container"> Hola Slide 3 </swiper-slide>
  </swiper-container>
</ion-content>
